*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    font-weight: 500;
    color: brown;
}

.container{
    margin: 5%;
    background-color: #eeeeee;
    border-radius: 5px;
    margin-bottom: 0;
}

.content-box{
    padding: 3%;
}

.col-md-12{
    width: 100%;
}

.text-center{
    text-align: center;
}

h2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.about{
    border: 1px solid #dddddd;
    padding: 5px;
    word-spacing: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.thumbnail{
    border: 1px solid #dddddd;
    padding: 5px;
    margin-bottom: 30px;
}

/* img center & making circle */
.img-circle{
    border-radius: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
}

.caption{
    background-color: #dddddd;
    padding: 1%;
    margin-top: 10px;
}

li{
    margin-left: 40px;
    list-style-type: circle;
    padding-top: 10px;
    word-spacing: 2px;
}

.cite{
    margin-top: 2%;
}

footer{
    margin-top: 1%;
    margin-bottom: 1%;
}